
.elgg-menu > li {
    position: relative;
}
.elgg-menu > li:last-child::after {
    display: none;
}
.elgg-menu > li > a {
    display: block;
}
.elgg-menu-hz > li, .elgg-menu-hz > li::after, .elgg-menu-hz > li > a, .elgg-menu-hz > li > span {
    vertical-align: middle;
}
.elgg-menu-hz .elgg-body::after {
    content: ".";
}
.elgg-gallery > li, .elgg-button, .elgg-icon, .elgg-menu-hz > li, .elgg-menu-hz > li::after, .elgg-menu-hz > li > a, .elgg-menu-hz > li > span {
    display: inline-block;
    position: relative;
}
.friends-picker-main-wrapper {
    margin-bottom: 15px;
}
.friends-picker-container h3 {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    color: #999 !important;
    font-size: 4em !important;
    margin: 10px 0 20px !important;
    padding: 0 !important;
    text-align: left;
}
.friends-picker .friends-picker-container .panel ul {
    margin: 0;
    padding: 0;
    text-align: left;
}
.friends-picker-wrapper {
    margin: 0;
    padding: 0;
    position: relative;
    width: 730px;
}
.friends-picker {
    background-color: #fafafa;
    background-repeat: repeat-x;
    border: 1px solid #d4d4d4;
    border-radius: 3px;
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 730px;
}
.friendspicker-savebuttons {
    background: white none repeat scroll 0 0;
    border-radius: 8px;
    margin: 0 10px 10px;
}
.friends-picker .friends-picker-container {
    left: 0;
    list-style-type: none;
    position: relative;
    top: 0;
    width: 100%;
}
.friends-picker .friends-picker-container .panel {
    float: left;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    width: 730px;
}
.friends-picker .friends-picker-container .panel .wrapper {
    margin: 0;
    min-height: 230px;
    padding: 4px 10px 10px;
}
.friends-picker-navigation {
    border-bottom: 1px solid #ccc;
    margin: 0 0 10px;
    padding: 0 0 10px;
}
.friends-picker-navigation ul {
    list-style: outside none none;
    padding-left: 0;
}
.friends-picker-navigation ul li {
    background: white none repeat scroll 0 0;
    float: left;
    margin: 0;
}
.friends-picker-navigation a {
    background: white none repeat scroll 0 0;
    border-radius: 4px;
    color: #999;
    display: block;
    font-weight: bold;
    padding: 0;
    text-align: center;
    text-decoration: none;
    width: 20px;
}
.tabHasContent {
    background: white none repeat scroll 0 0;
    color: #333 !important;
}
.friends-picker-navigation li a:hover {
    background: #333 none repeat scroll 0 0;
    color: white !important;
}
.friends-picker-navigation li a.current {
    background: #4690d6 none repeat scroll 0 0;
    color: white !important;
}
.friends-picker-navigation-l, .friends-picker-navigation-r {
    position: absolute;
    text-indent: -9000em;
    top: 46px;
}
.friends-picker-navigation-l a, .friends-picker-navigation-r a {
    display: block;
    height: 40px;
    width: 40px;
}
.friends-picker-navigation-l {
    right: 48px;
    z-index: 1;
}
.friends-picker-navigation-r {
    right: 0;
    z-index: 1;
}
.friends-picker-navigation-l {
    background: rgba(0, 0, 0, 0) url("http://eportfolium.com/elgg/_graphics/friendspicker.png") no-repeat scroll left top;
}
.friends-picker-navigation-r {
    background: rgba(0, 0, 0, 0) url("http://eportfolium.com/elgg/_graphics/friendspicker.png") no-repeat scroll -60px top;
}
.friends-picker-navigation-l:hover {
    background: rgba(0, 0, 0, 0) url("http://eportfolium.com/elgg/_graphics/friendspicker.png") no-repeat scroll left -44px;
}
.friends-picker-navigation-r:hover {
    background: rgba(0, 0, 0, 0) url("http://eportfolium.com/elgg/_graphics/friendspicker.png") no-repeat scroll -60px -44px;
}
.friendspicker-savebuttons .elgg-button-submit, .friendspicker-savebuttons .elgg-button-cancel {
    margin: 5px 20px 5px 5px;
}
.friendspicker-members-table {
    background: #dedede none repeat scroll 0 0;
    border-radius: 8px;
    margin: 10px 0 0;
    padding: 10px 10px 0;
}
.ui-autocomplete {
    cursor: default;
    position: absolute;
}
.elgg-autocomplete-item .elgg-body {
    max-width: 600px;
}
.ui-autocomplete {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}
.ui-autocomplete .ui-menu-item {
    border-radius: 5px;
    padding: 0 4px;
}
.ui-autocomplete .ui-menu-item:hover {
    background-color: #eee;
}
.ui-autocomplete a:hover {
    color: #4690d6;
    text-decoration: none;
}
.elgg-user-picker-list li:first-child {
    border-top: 1px dotted #ccc;
    margin-top: 5px;
}
.elgg-user-picker-list > li {
    border-bottom: 1px dotted #ccc;
}
.ui-datepicker {
    background-color: white;
    border: 1px solid #0054a7;
    border-radius: 6px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    display: none;
    margin-top: 3px;
    overflow: hidden;
    width: 208px;
}
.ui-datepicker-inline {
    box-shadow: none;
}
.ui-datepicker-header {
    background: #4690d6 none repeat scroll 0 0;
    border-bottom: 1px solid #0054a7;
    color: white;
    padding: 2px 0;
    position: relative;
}
.ui-datepicker-header a {
    color: white;
}
.ui-datepicker-prev, .ui-datepicker-next {
    cursor: pointer;
    position: absolute;
    top: 5px;
}
.ui-datepicker-prev {
    left: 6px;
}
.ui-datepicker-next {
    right: 6px;
}
.ui-datepicker-title {
    font-weight: bold;
    line-height: 1.8em;
    margin: 0 30px;
    text-align: center;
}
.ui-datepicker-calendar {
    margin: 4px;
}
.ui-datepicker th {
    border: medium none;
    color: #0054a7;
    font-weight: bold;
    padding: 5px 6px;
    text-align: center;
}
.ui-datepicker td {
    padding: 1px;
}
.ui-datepicker td span, .ui-datepicker td a {
    display: block;
    line-height: 1.2em;
    padding: 2px;
    text-align: right;
    text-decoration: none;
}
.ui-datepicker-calendar .ui-state-default {
    background: #fafafa none repeat scroll 0 0;
    border: 1px solid #ccc;
    color: #4690d6;
}
.ui-datepicker-calendar .ui-state-hover {
    background: #eee none repeat scroll 0 0;
    border: 1px solid #aaa;
    color: #0054a7;
}
.ui-datepicker-calendar .ui-state-active, .ui-datepicker-calendar .ui-state-active.ui-state-hover {
    background: #e4ecf5 none repeat scroll 0 0;
    border: 1px solid #0054a7;
    color: #0054a7;
    font-weight: bold;
}
.elgg-icon {
    background: transparent url("http://eportfolium.com/elgg/_graphics/elgg_sprites.png") no-repeat scroll left center;
    height: 16px;
    margin: 0 2px;
    width: 16px;
}
.elgg-icon-arrow-left {
    background-position: 0 0;
}
.elgg-icon-arrow-right {
    background-position: 0 -18px;
}
.elgg-icon-arrow-two-head {
    background-position: 0 -36px;
}
.elgg-icon-attention-hover, .elgg-icon-attention:hover, *:focus > .elgg-icon-attention {
    background-position: 0 -54px;
}
.elgg-icon-attention {
    background-position: 0 -72px;
}
.elgg-icon-calendar {
    background-position: 0 -90px;
}
.elgg-icon-cell-phone {
    background-position: 0 -108px;
}
.elgg-icon-checkmark-hover, .elgg-icon-checkmark:hover, *:focus > .elgg-icon-checkmark {
    background-position: 0 -126px;
}
.elgg-icon-checkmark {
    background-position: 0 -144px;
}
.elgg-icon-clip-hover, .elgg-icon-clip:hover, *:focus > .elgg-icon-clip {
    background-position: 0 -162px;
}
.elgg-icon-clip {
    background-position: 0 -180px;
}
.elgg-icon-cursor-drag-arrow {
    background-position: 0 -198px;
}
.elgg-icon-delete-alt-hover, .elgg-icon-delete-alt:hover, *:focus > .elgg-icon-delete-alt {
    background-position: 0 -216px;
}
.elgg-icon-delete-alt {
    background-position: 0 -234px;
}
.elgg-icon-delete-hover, .elgg-icon-delete:hover, *:focus > .elgg-icon-delete {
    background-position: 0 -252px;
}
.elgg-icon-delete {
    background-position: 0 -270px;
}
.elgg-icon-download-hover, .elgg-icon-download:hover, *:focus > .elgg-icon-download {
    background-position: 0 -288px;
}
.elgg-icon-download {
    background-position: 0 -306px;
}
.elgg-icon-eye {
    background-position: 0 -324px;
}
.elgg-icon-facebook {
    background-position: 0 -342px;
}
.elgg-icon-grid-hover, .elgg-icon-grid:hover, *:focus > .elgg-icon-grid {
    background-position: 0 -360px;
}
.elgg-icon-grid {
    background-position: 0 -378px;
}
.elgg-icon-home-hover, .elgg-icon-home:hover, *:focus > .elgg-icon-home {
    background-position: 0 -396px;
}
.elgg-icon-home {
    background-position: 0 -414px;
}
.elgg-icon-hover-menu-hover, .elgg-icon-hover-menu:hover, *:focus > .elgg-icon-hover-menu {
    background-position: 0 -432px;
}
.elgg-icon-hover-menu {
    background-position: 0 -450px;
}
.elgg-icon-info-hover, .elgg-icon-info:hover, *:focus > .elgg-icon-info {
    background-position: 0 -468px;
}
.elgg-icon-info {
    background-position: 0 -486px;
}
.elgg-icon-link-hover, .elgg-icon-link:hover, *:focus > .elgg-icon-link {
    background-position: 0 -504px;
}
.elgg-icon-link {
    background-position: 0 -522px;
}
.elgg-icon-list {
    background-position: 0 -540px;
}
.elgg-icon-lock-closed {
    background-position: 0 -558px;
}
.elgg-icon-lock-open {
    background-position: 0 -576px;
}
.elgg-icon-mail-alt-hover, .elgg-icon-mail-alt:hover, *:focus > .elgg-icon-mail-alt {
    background-position: 0 -594px;
}
.elgg-icon-mail-alt {
    background-position: 0 -612px;
}
.elgg-icon-mail-hover, .elgg-icon-mail:hover, *:focus > .elgg-icon-mail {
    background-position: 0 -630px;
}
.elgg-icon-mail {
    background-position: 0 -648px;
}
.elgg-icon-photo {
    background-position: 0 -666px;
}
.elgg-icon-print-alt {
    background-position: 0 -684px;
}
.elgg-icon-print {
    background-position: 0 -702px;
}
.elgg-icon-push-pin-alt {
    background-position: 0 -720px;
}
.elgg-icon-push-pin {
    background-position: 0 -738px;
}
.elgg-icon-redo {
    background-position: 0 -756px;
}
.elgg-icon-refresh-hover, .elgg-icon-refresh:hover, *:focus > .elgg-icon-refresh {
    background-position: 0 -774px;
}
.elgg-icon-refresh {
    background-position: 0 -792px;
}
.elgg-icon-round-arrow-left {
    background-position: 0 -810px;
}
.elgg-icon-round-arrow-right {
    background-position: 0 -828px;
}
.elgg-icon-round-checkmark {
    background-position: 0 -846px;
}
.elgg-icon-round-minus {
    background-position: 0 -864px;
}
.elgg-icon-round-plus {
    background-position: 0 -882px;
}
.elgg-icon-rss {
    background-position: 0 -900px;
}
.elgg-icon-search-focus {
    background-position: 0 -918px;
}
.elgg-icon-search {
    background-position: 0 -936px;
}
.elgg-icon-settings-alt-hover, .elgg-icon-settings-alt:hover, *:focus > .elgg-icon-settings-alt {
    background-position: 0 -954px;
}
.elgg-icon-settings-alt {
    background-position: 0 -972px;
}
.elgg-icon-settings {
    background-position: 0 -990px;
}
.elgg-icon-share-hover, .elgg-icon-share:hover, *:focus > .elgg-icon-share {
    background-position: 0 -1008px;
}
.elgg-icon-share {
    background-position: 0 -1026px;
}
.elgg-icon-shop-cart-hover, .elgg-icon-shop-cart:hover, *:focus > .elgg-icon-shop-cart {
    background-position: 0 -1044px;
}
.elgg-icon-shop-cart {
    background-position: 0 -1062px;
}
.elgg-icon-speech-bubble-alt-hover, .elgg-icon-speech-bubble-alt:hover, *:focus > .elgg-icon-speech-bubble-alt {
    background-position: 0 -1080px;
}
.elgg-icon-speech-bubble-alt {
    background-position: 0 -1098px;
}
.elgg-icon-speech-bubble-hover, .elgg-icon-speech-bubble:hover, *:focus > .elgg-icon-speech-bubble {
    background-position: 0 -1116px;
}
.elgg-icon-speech-bubble {
    background-position: 0 -1134px;
}
.elgg-icon-star-alt {
    background-position: 0 -1152px;
}
.elgg-icon-star-empty-hover, .elgg-icon-star-empty:hover, *:focus > .elgg-icon-star-empty {
    background-position: 0 -1170px;
}
.elgg-icon-star-empty {
    background-position: 0 -1188px;
}
.elgg-icon-star-hover, .elgg-icon-star:hover, *:focus > .elgg-icon-star {
    background-position: 0 -1206px;
}
.elgg-icon-star {
    background-position: 0 -1224px;
}
.elgg-icon-tag-hover, .elgg-icon-tag:hover, *:focus > .elgg-icon-tag {
    background-position: 0 -1242px;
}
.elgg-icon-tag {
    background-position: 0 -1260px;
}
.elgg-icon-thumbs-down-alt-hover, .elgg-icon-thumbs-down-alt:hover, *:focus > .elgg-icon-thumbs-down-alt {
    background-position: 0 -1278px;
}
.elgg-icon-thumbs-down-hover, .elgg-icon-thumbs-down:hover, *:focus > .elgg-icon-thumbs-down, .elgg-icon-thumbs-down-alt {
    background-position: 0 -1296px;
}
.elgg-icon-thumbs-down {
    background-position: 0 -1314px;
}
.elgg-icon-thumbs-up-alt-hover, .elgg-icon-thumbs-up-alt:hover, *:focus > .elgg-icon-thumbs-up-alt {
    background-position: 0 -1332px;
}
.elgg-icon-thumbs-up-hover, .elgg-icon-thumbs-up:hover, *:focus > .elgg-icon-thumbs-up, .elgg-icon-thumbs-up-alt {
    background-position: 0 -1350px;
}
.elgg-icon-thumbs-up {
    background-position: 0 -1368px;
}
.elgg-icon-trash {
    background-position: 0 -1386px;
}
.elgg-icon-twitter {
    background-position: 0 -1404px;
}
.elgg-icon-undo {
    background-position: 0 -1422px;
}
.elgg-icon-user-hover, .elgg-icon-user:hover, *:focus > .elgg-icon-user {
    background-position: 0 -1440px;
}
.elgg-icon-user {
    background-position: 0 -1458px;
}
.elgg-icon-users-hover, .elgg-icon-users:hover, *:focus > .elgg-icon-users {
    background-position: 0 -1476px;
}
.elgg-icon-users {
    background-position: 0 -1494px;
}
.elgg-icon-video {
    background-position: 0 -1512px;
}
.elgg-avatar > .elgg-icon-hover-menu {
    bottom: 0;
    cursor: pointer;
    display: none;
    margin: 0;
    position: absolute;
    right: 0;
}
.elgg-ajax-loader {
    background: white url("http://eportfolium.com/elgg/_graphics/ajax_loader_bw.gif") no-repeat scroll center center;
    min-height: 31px;
    min-width: 31px;
}
.elgg-avatar {
    display: inline-block;
    position: relative;
}
.elgg-avatar > a > img {
    display: block;
}
.elgg-avatar-tiny > img {
    background-size: 25px auto;
    border-radius: 3px;
    height: 25px;
    width: 25px;
}
.elgg-avatar-small > img {
    background-size: 40px auto;
    border-radius: 5px;
    height: 40px;
    width: 40px;
}
.elgg-avatar-medium > a > img {
    height: 100px;
    width: 100px;
}
.elgg-avatar-large {
    width: 100%;
}
.elgg-avatar-large > a > img {
    height: auto;
    width: 100%;
}
.elgg-state-banned {
    opacity: 0.5;
}
.elgg-module {
    margin-bottom: 20px;
    overflow: hidden;
}
.elgg-module-aside .elgg-head {
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
    padding-bottom: 5px;
}
.elgg-module-info .elgg-head {
    background-color: #fafafa;
    background-repeat: repeat-x;
    border: 1px solid #d4d4d4;
    border-radius: 3px;
    margin-bottom: 10px;
    padding: 5px;
}
.elgg-module-info > .elgg-head * {
    color: #333;
}
.elgg-module-popup {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 0;
    padding: 5px;
    z-index: 9999;
}
.elgg-module-popup > .elgg-head {
    margin-bottom: 5px;
}
.elgg-module-popup > .elgg-head * {
    color: #0054a7;
}
.elgg-module-dropdown {
    background-color: white;
    border: 5px solid #ccc;
    border-radius: 5px 0 5px 5px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.45);
    display: none;
    margin-right: 0;
    padding: 12px;
    position: absolute;
    right: 0;
    top: 100%;
    width: 210px;
    z-index: 100;
}
.elgg-module-featured {
    border: 1px solid #4690d6;
    border-radius: 6px;
}
.elgg-module-featured > .elgg-head {
    background-color: #4690d6;
    padding: 5px;
}
.elgg-module-featured > .elgg-head * {
    color: white;
}
.elgg-module-featured > .elgg-body {
    padding: 10px;
}
.elgg-widgets {
    min-height: 30px;
}
.elgg-widget-add-control {
    margin: 5px 5px 15px;
    text-align: right;
}
.elgg-widgets-add-panel {
    padding: 10px;
}
.elgg-widgets-add-panel ul {
    margin: 10px;
    padding: 10px;
}
.elgg-widgets-add-panel li {
    margin: 2px 0;
}
.elgg-widgets-add-panel li a {
    display: block;
}
.elgg-widgets-add-panel .elgg-state-available {
    color: #333;
    cursor: pointer;
}
.elgg-widgets-add-panel .elgg-state-available:hover {
    background-color: #bcbcbc;
}
.elgg-widgets-add-panel .elgg-state-unavailable {
    color: #888;
}
.elgg-module-widget {
    background-color: #dedede;
    margin-bottom: 15px;
    padding: 2px;
    position: relative;
}
.elgg-module-widget:hover {
    background-color: #ccc;
}
.elgg-module-widget > .elgg-head {
    background-color: #fafafa;
    background-repeat: repeat-x;
    border: 1px solid #d4d4d4;
    min-height: 40px;
    overflow: hidden;
}
.elgg-module-widget > .elgg-head h3 {
    color: #666;
    float: left;
    padding: 4px 45px 0 20px;
}
.elgg-module-widget > .elgg-body {
    background-color: white;
    border-top: 2px solid #dedede;
    overflow: hidden;
    width: 100%;
}
.elgg-widget-edit {
    background-color: #f9f9f9;
    display: none;
}
.elgg-image-block {
    padding: 3px 0;
}
.elgg-image-block .elgg-image {
    float: left;
    margin-right: 5px;
}
.elgg-image-block .elgg-image-alt {
    float: right;
    margin-left: 5px;
}
.elgg-list {
    border-top: 1px dotted #cccccc;
    clear: both;
    margin: 5px 0;
}
.elgg-list > li {
    border-bottom: 1px dotted #cccccc;
}
.elgg-item .elgg-subtext {
    margin-bottom: 5px;
}
.elgg-item .elgg-content {
    margin: 10px 5px;
}
.elgg-list-entity, .elgg-list-likes {
    padding-left: 0;
}
.elgg-gallery {
    border: medium none;
    margin-left: auto;
    margin-right: auto;
}
.elgg-gallery td {
    padding: 5px;
}
.elgg-gallery-fluid > li {
    float: left;
}
.elgg-gallery-users > li {
    margin: 0 2px;
}
.elgg-table {
    border-top: 1px solid #ccc;
    width: 100%;
}
.elgg-table td, .elgg-table th {
    border: 1px solid #ccc;
    padding: 4px 8px;
}
.elgg-table th {
    background-color: #ddd;
}
.elgg-table tr:nth-child(2n+1), .elgg-table tr.odd {
    background-color: #fff;
}
.elgg-table tr:nth-child(2n), .elgg-table tr.even {
    background-color: #f0f0f0;
}
.elgg-table-alt {
    border-top: 1px solid #ccc;
    width: 100%;
}
.elgg-table-alt th {
    background-color: #eee;
    font-weight: bold;
}
.elgg-table-alt td, .elgg-table-alt th {
    border-bottom: 1px solid #ccc;
    padding: 2px 4px;
}
.elgg-table-alt td:first-child {
    width: 200px;
}
.elgg-table-alt tr:hover {
    background: #e4e4e4 none repeat scroll 0 0;
}
.elgg-message {
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.45);
    color: white;
    cursor: pointer;
    display: block;
    font-weight: bold;
    opacity: 0.9;
    padding: 3px 10px;
}
.elgg-state-success {
    background-color: black;
}
.elgg-state-error {
    background-color: red;
}
.elgg-state-notice {
    background-color: #4690d6;
}
.elgg-list-river {
    border-top: 1px solid #ccc;
    padding-left: 0;
}
.elgg-list-river > li {
    border-bottom: 1px solid #ccc;
}
.elgg-river-item {
    padding: 7px 0;
}
.elgg-river-item .elgg-pict {
    margin-right: 20px;
}
.elgg-river-timestamp {
    color: #666;
    font-size: 85%;
    font-style: italic;
    line-height: 1.2em;
}
.elgg-river-attachments, .elgg-river-message, .elgg-river-content {
    border-left: 1px solid #ccc;
    font-size: 85%;
    line-height: 1.5em;
    margin: 8px 0 5px;
    padding-left: 5px;
}
.elgg-river-attachments .elgg-avatar, .elgg-river-attachments .elgg-icon {
    float: left;
}
.elgg-river-layout .elgg-input-dropdown {
    float: right;
    margin: 10px 0;
}
.elgg-river-comments-tab {
    background-color: #eee;
    border-radius: 5px 5px 0 0;
    color: #4690d6;
    display: block;
    float: right;
    font-size: 85%;
    margin-top: 5px;
    padding: 1px 7px;
    width: auto;
}
.elgg-river-comments {
    border-top: medium none;
    margin: 0;
    padding: 0;
}
.elgg-river-comments li:last-child {
    border-bottom-left-radius: 5px;
}
.elgg-river-comments li {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fafafa;
    background-repeat: repeat-x;
    border-color: #d4d4d4 #d4d4d4 -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    padding: 4px;
}
.elgg-river-comments li li {
    border: medium none;
}
.elgg-river-comments .elgg-media {
    padding: 0;
}
.elgg-river-more {
    background-color: #fafafa;
    background-repeat: repeat-x;
    border-left: 1px solid #d4d4d4;
    border-right: 1px solid #d4d4d4;
    font-size: 85%;
    padding: 2px 4px;
}
.elgg-river-item form {
    background-color: #fafafa;
    background-repeat: repeat-x;
    border: 1px solid #d4d4d4;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 4px;
}
.elgg-comments {
    margin-top: 25px;
}
.elgg-comments > form {
    margin-top: 15px;
}
.elgg-tags {
    font-size: 85%;
}
.elgg-tags > li {
    float: left;
    margin-right: 5px;
}
.elgg-tags li.elgg-tag::after {
    content: ",";
}
.elgg-tags li.elgg-tag:last-child::after {
    content: "";
}
.elgg-tagcloud {
    text-align: justify;
}
#current-user-avatar {
    border-right: 1px solid #ccc;
}
#avatar-croppingtool {
    border-top: 1px solid #ccc;
}
#user-avatar-cropper {
    float: left;
}
#user-avatar-preview {
    float: left;
    height: 100px;
    overflow: hidden;
    position: relative;
    width: 100px;
}
#friends_collections_accordian li {
    color: #666;
}
#friends_collections_accordian li h2 {
    background: #4690d6 none repeat scroll 0 0;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 1.2em;
    margin: 10px 0;
    padding: 4px 2px 4px 6px;
}
#friends_collections_accordian li h2:hover {
    background-color: #333;
}
#friends_collections_accordian .friends_collections_controls {
    float: right;
    font-size: 70%;
}
#friends_collections_accordian .friends-picker-main-wrapper {
    background: white none repeat scroll 0 0;
    display: none;
    padding: 0;
}
.profile {
    float: left;
    margin-bottom: 15px;
}
.profile .elgg-inner {
    border: 2px solid #eee;
    border-radius: 8px;
    margin: 0 5px;
}
#profile-details {
    padding: 15px;
}
#profile-owner-block {
    background-color: #eee;
    float: left;
    padding: 15px;
    width: 200px;
}
#profile-owner-block .large {
    margin-bottom: 10px;
}
#profile-owner-block a.elgg-button-action {
    display: table;
    margin-bottom: 4px;
}
.profile-content-menu a {
    background-color: white;
    border-radius: 8px;
    display: block;
    margin: 3px 0 5px;
    padding: 2px 4px 2px 8px;
}
.profile-content-menu a:hover {
    background: #0054a7 none repeat scroll 0 0;
    color: white;
    text-decoration: none;
}
.profile-admin-menu {
    display: none;
}
.profile-admin-menu-wrapper a {
    background-color: white;
    border-radius: 8px;
    display: block;
    margin: 3px 0 5px;
    padding: 2px 4px 2px 8px;
}
.profile-admin-menu-wrapper {
    background-color: white;
    border-radius: 8px;
}
.profile-admin-menu-wrapper li a {
    background-color: white;
    color: red;
    margin-bottom: 0;
}
.profile-admin-menu-wrapper a:hover {
    color: black;
}
#profile-details .odd {
    background-color: #f4f4f4;
    border-radius: 4px;
    margin: 0 0 7px;
    padding: 2px 4px;
}
#profile-details .even {
    background-color: #f4f4f4;
    border-radius: 4px;
    margin: 0 0 7px;
    padding: 2px 4px;
}
.profile-aboutme-title {
    background-color: #f4f4f4;
    border-radius: 4px;
    margin: 0;
    padding: 2px 4px;
}
.profile-aboutme-contents {
    padding: 2px 0 0 3px;
}
.profile-banned-user {
    background-color: #f8e8e8;
    border: 1px solid #e5b7b5;
    border-radius: 5px;
    color: #b94a48;
    margin: 10px 0;
    padding: 20px;
}
.profile-banned-user h4 {
    color: #b94a48;
}
.elgg-icon-bookmark {
    background: transparent url("http://eportfolium.com/elgg/mod/bookmarks/graphics/bookmark.gif") repeat scroll 0 0;
}
.cke {
    clear: right;
}
.cke_bottom .cke_wordcount {
    float: left;
}
.cke_bottom .cke_path {
    float: right;
}
#developers-iframe {
    border: medium none;
    height: 600px;
    width: 100%;
}
#developer-settings-form label {
    margin-right: 5px;
}
.elgg-page .jstree-default.jstree-focused {
    background-color: transparent;
}
.developers-log {
    background-color: #ebf5ff;
    border: 1px solid #999;
    color: #666;
    padding: 20px;
}
.file-photo {
    margin-bottom: 15px;
    text-align: center;
}
.file-gallery-item {
    text-align: center;
    width: 165px;
}
.groups-profile > .elgg-image {
    margin-right: 10px;
}
.groups-stats {
    background: #eeeeee none repeat scroll 0 0;
    border-radius: 5px;
    margin-top: 10px;
    padding: 5px;
}
.groups-profile-fields .odd, .groups-profile-fields .even {
    background: #f4f4f4 none repeat scroll 0 0;
    border-radius: 4px;
    margin-bottom: 7px;
    padding: 2px 4px;
}
.groups-profile-fields .elgg-output {
    margin: 0;
}
#groups-tools > li {
    margin-bottom: 40px;
    min-height: 200px;
    width: 48%;
}
#groups-tools > li:nth-child(2n+1) {
    margin-right: 4%;
}
.groups-widget-viewall {
    float: right;
    font-size: 85%;
}
.groups-latest-reply {
    float: right;
}
.elgg-menu-groups-my-status li a {
    background-color: white;
    border-radius: 8px;
    display: block;
    margin: 3px 0 5px;
    padding: 2px 4px 2px 8px;
}
.elgg-menu-groups-my-status li a:hover {
    background-color: #0054a7;
    color: white;
    text-decoration: none;
}
.elgg-menu-groups-my-status li.elgg-state-selected > a {
    background-color: #4690d6;
    color: white;
}
.elgg-likes {
    position: absolute;
    width: 345px;
}
.elgg-menu .elgg-menu-item-likes-count {
    margin-left: 3px;
}
.messageboard-input {
    height: 100px;
}
.messages-container {
    min-height: 200px;
}
.message.unread a {
    color: #d40005;
}
.messages-buttonbank {
    text-align: right;
}
.messages-buttonbank input {
    margin-left: 10px;
}
.messages-owner {
    float: left;
    margin-right: 2%;
    width: 20%;
}
.messages-subject {
    float: left;
    margin-right: 2%;
    width: 55%;
}
.messages-timestamp {
    float: left;
    margin-right: 2%;
    width: 14%;
}
.messages-delete {
    float: left;
    width: 5%;
}
.messages-new {
    background-color: red;
    border-radius: 10px;
    box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 10px;
    font-weight: bold;
    height: 16px;
    left: 26px;
    min-width: 16px;
    position: absolute;
    text-align: center;
    top: 0;
}
#notificationstable td.namefield {
    text-align: left;
    vertical-align: middle;
    width: 250px;
}
#notificationstable td.namefield p {
    line-height: 1.1em;
    margin: 0;
    padding: 5px 0;
    vertical-align: middle;
}
#notificationstable td.namefield p.namefieldlink {
    margin: 5px 0 0;
}
#notificationstable td.namefield a img {
    float: left;
    height: 25px;
    margin: 5px 10px 5px 5px;
    width: 25px;
}
#notificationstable td.emailtogglefield, #notificationstable td.smstogglefield {
    text-align: center;
    vertical-align: middle;
    width: 50px;
}
#notificationstable td.spacercolumn {
    width: 30px;
}
#notificationstable td {
    border-bottom: 1px solid silver;
}
#notificationstable td.emailtogglefield input {
    margin-right: 36px;
    margin-top: 5px;
}
#notificationstable td.emailtogglefield a {
    cursor: pointer;
    display: block;
    height: 24px;
    width: 46px;
}
#notificationstable td.sitetogglefield {
    text-align: center;
    vertical-align: middle;
    width: 50px;
}
#notificationstable td.sitetogglefield input {
    margin-right: 36px;
    margin-top: 5px;
}
#notificationstable td.sitetogglefield a {
    cursor: pointer;
    display: block;
    height: 24px;
    width: 46px;
}
#notificationstable td.emailtogglefield a.emailtoggleOff {
    background: rgba(0, 0, 0, 0) url("http://eportfolium.com/elgg/mod/notifications/graphics/icon_notifications_email.gif") no-repeat scroll right 2px;
}
#notificationstable td.emailtogglefield a.emailtoggleOn {
    background: rgba(0, 0, 0, 0) url("http://eportfolium.com/elgg/mod/notifications/graphics/icon_notifications_email.gif") no-repeat scroll right -36px;
}
#notificationstable td.sitetogglefield a.sitetoggleOff {
    background: rgba(0, 0, 0, 0) url("http://eportfolium.com/elgg/mod/notifications/graphics/icon_notifications_site.gif") no-repeat scroll right 2px;
}
#notificationstable td.sitetogglefield a.sitetoggleOn {
    background: rgba(0, 0, 0, 0) url("http://eportfolium.com/elgg/mod/notifications/graphics/icon_notifications_site.gif") no-repeat scroll right -37px;
}
.notification_friends, .notification_personal, .notifications_per_user {
    margin-bottom: 25px;
}
.pages-nav.treeview ul {
    background-color: transparent;
}
.pages-nav.treeview a.selected {
    color: #555555;
}
.pages-nav.treeview .hover {
    color: #0054a7;
}
.elgg-icon-report-this {
    background: rgba(0, 0, 0, 0) url("http://eportfolium.com/elgg/mod/reportedcontent/graphics/icon_reportthis.gif") no-repeat scroll left top;
}
.elgg-search-header {
    bottom: 5px;
    height: 23px;
    position: absolute;
    right: 0;
}
.elgg-search input[type="text"] {
    width: 230px;
}
.elgg-search input[type="submit"] {
    display: none;
}
.elgg-search input[type="text"] {
    background: transparent url("http://eportfolium.com/elgg/_graphics/elgg_sprites.png") no-repeat scroll 2px -934px;
    border: 1px solid #71b9f7;
    border-radius: 10px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 4px 2px 26px;
}
.elgg-search input[type="text"]:focus, .elgg-search input[type="text"]:active {
    background-color: white;
    background-position: 2px -916px;
    border: 1px solid white;
    color: #0054a7;
}
.search-list li {
    padding: 5px 0 0;
}
.search-heading-category {
    color: #666666;
    margin-top: 20px;
}
.search-highlight {
    background-color: #bbdaf7;
}
.search-highlight-color1 {
    background-color: #bbdaf7;
}
.search-highlight-color2 {
    background-color: #a0ffff;
}
.search-highlight-color3 {
    background-color: #fdffc3;
}
.search-highlight-color4 {
    background-color: #ccc;
}
.search-highlight-color5 {
    background-color: #4690d6;
}
#thewire-textarea {
    padding: 6px;
}
#thewire-characters-remaining {
    color: #333333;
    float: right;
    font-weight: bold;
    text-align: right;
}
.thewire-characters-remaining {
    background: white none repeat scroll 0 0;
    border: medium none;
    color: #333333;
    font-size: 100%;
    font-weight: bold;
    margin: 0;
    padding: 0 2px 0 0;
    text-align: right;
}
.thewire-characters-remaining-warning {
    color: #d40d12 !important;
}
.thewire-parent {
    margin-left: 40px;
}
.thewire-post .elgg-content {
    margin: 10px 5px;
}
.zaudio {
    margin: 10px 0;
}
.elgg-page .elgg-page-header {
    margin-top: 40px;
    padding-top: 15px;
    position: relative;
}
.elgg-page-header h1 {
    padding-bottom: 10px;
}
.elgg-page-header h1 a {
    color: #000;
    font-size: 32px;
}
.elgg-menu-extras-default {
    background-color: #eee;
}
.elgg-menu-longtext-default > li {
    padding: 0 10px;
}
ul.elgg-tags {
    margin: 0;
}
.page-header {
    margin: 0 0 5px;
    padding: 0 0 5px;
}
/*
li {
    list-style: outside none none;
}
*/
.elgg-foot {
    margin-top: 20px;
}
.elgg-page-messages {
    height: 0;
}
.bootstrap-messages {
    top: 35px;
    z-index: 100;
}
.elgg-module-aside .elgg-head {
    border-bottom: 0 none;
    margin-bottom: 0;
    padding-bottom: 0;
}
.elgg-access {
    background-color: #999999;
    border-radius: 9px;
    color: #ffffff;
    font-size: 10.998px;
    font-weight: bold;
    line-height: 14px;
    padding: 1px 9px 2px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    vertical-align: baseline;
    white-space: nowrap;
}
.elgg-access:hover {
    color: #ffffff;
    text-decoration: none;
}
.elgg-menu-longtext {
    float: right;
}
.elgg-tagcloud {
    margin: 10px 0;
}
.elgg-menu-widget > li {
    display: inline-block;
    height: 18px;
    padding: 2px 2px 0 0;
    position: absolute;
    top: 4px;
    width: 18px;
}
.elgg-menu-widget > .elgg-menu-item-collapse {
    left: 5px;
}
.elgg-menu-widget > .elgg-menu-item-delete {
    right: 5px;
}
.elgg-menu-widget > .elgg-menu-item-settings {
    right: 25px;
}
.elgg-menu-hover {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff;
    border-color: #e5e5e5 #999 #999 #e5e5e5;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    display: none;
    max-width: 250px;
    min-width: 165px;
    overflow: hidden;
    position: absolute;
    z-index: 10000;
}
.elgg-menu-hover > li {
    border-bottom: 1px solid #ddd;
}
.elgg-menu-hover > li:last-child {
    border-bottom: medium none;
}
.elgg-menu-hover .elgg-heading-basic {
    display: block;
}
.elgg-menu-hover a {
    font-size: 92%;
    padding: 2px 8px;
}
.elgg-menu-hover a:hover {
    background: #ccc none repeat scroll 0 0;
    text-decoration: none;
}
.elgg-menu-hover-admin a {
    color: red;
}
.elgg-menu-hover-admin a:hover {
    background-color: red;
    color: white;
}
.elgg-breadcrumbs {
    color: #bababa;
    font-size: 80%;
    font-weight: bold;
    line-height: 1.2em;
    margin-left: 4px;
    padding: 10px 0 0;
}
.elgg-breadcrumbs > li {
    display: inline-block;
}
.elgg-breadcrumbs > li::after {
    content: ">";
    font-weight: normal;
    padding: 0 4px;
}
.elgg-breadcrumbs > li > a {
    color: #999;
    display: inline-block;
}
.elgg-breadcrumbs > li > a:hover {
    color: #0054a7;
    text-decoration: underline;
}
.elgg-main .elgg-breadcrumbs {
    left: 0;
    margin-top: 5px;
    position: relative;
}
#thewire-textarea {
    height: 40px;
    padding: 4px;
}
.page-header {
    border-bottom: medium none;
}
#tbs_logo {
    padding-top: 10px;
}
.elgg-heading-main {
    margin-top: 0;
}
#status_access_label {
    padding-right: 5px;
}
.elgg-widgets-add-panel {
    display: none;
}
.elgg-latest-comments {
    padding-left: 0;
}
#tbs-header {
    margin-top: 40px;
}
.elgg-riverbox > textarea {
    border: 2px solid #ddd;
    margin-bottom: 5px;
    width: 100%;
}
.elgg-riverbox > ul {
    margin-bottom: 0;
}
#page-title h2 {
    margin-top: 0;
}
.friend-request-new {
    background-color: red;
    border-radius: 10px;
    box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 10px;
    font-weight: bold;
    height: 16px;
    left: 28px;
    min-width: 16px;
    position: absolute;
    text-align: center;
    top: 0;
}
