/*
body {
	font-family: Raleway,"Open Sans",sans-serif;
}


.closeSign {
  cursor: pointer;
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
  display: none;
  line-height: 0.5em;
}

.tree .toggledNode {
  display: inline-block;
}

.user .closeSign::before,
.user .openSign::before {
  color: var(--list-element-color);
}

#folder-users .folder-label {
  cursor: auto;
  font-weight: bold;
}

#userslist-rightside .item,
#userslist-leftside .folder-row {
  color: var(--list-element-text-color);
}
#userslist-leftside .folder-row:hover {
  background-color: var(--list-element-background-color-complement);
}

#userslist-rightside .item:hover {
  background-color: var(--list-menu-background-color);
}

#folder-users .item {
  padding: 5px;
}

#user-body {
  margin-top: 20px;
}

#userslist-leftside {
  width: calc(25% - 5px);
  margin-bottom: 10px;
}
#userslist-leftside h3 {
  margin-top: 20px;
}

#userslist-rightside {
  width: calc(75% - 5px);
  margin-top: 2px;
  padding-bottom: 5px;
  float: right;
}

#userslist-rightside #folder-users {
  background-color: var(--list-element-background-color);
}

.navbar-pages {
  text-align: center;
  padding: 0.5em 0em;
  color: var(--list-title-color);
  background-color: var(--list-element-background-color-complement);
}

.navbar-pages .active {
  cursor: auto;
  font-style: italic;
  font-weight: bold;
  border: 0px solid #999;
  display: inline;
}

.userspageindex,
.pageindex {
  padding: 0.2em 0.5em;
  margin: 0 0.2em;
  cursor: pointer;
  border: 1px solid #999;
}

.userspageindex0,
.pageindex0 {
  padding: 0.2em 0.5em;
}

#main-user .folders-nb {
  color: var(--list-title-color);
}

#main-user .folders-nb,
#main-user .userfolder {
  background-color: var(--list-element-background-color);
}

#main-user #usersfolders .usersfolder {
  margin-top: 5px;
  padding: 3px;
  background-color: var(--list-element-background-color);
}

#folder-users .usersfolder {
  margin-top: 5px;
  padding: 3px;
  background-color: var(--list-menu-background-color);
}

#main-user .folders-nb {
  color: var(--list-title-color);
}

#main-user .folder-row {
  margin-left: 1px;
  margin-right: 1px;
  color: var(--list-element-text-color);
}

#main-user .folder-row:hover {
  background-color: var(--list-element-background-color-complement);
}
/*
.number_of_items {
  margin-left: 5px;
  background-color: var(--list-element-text-color);
  color: var(--list-element-background-color);
}

.number_of_folders {
  margin-left: 5px;
  color: var(--list-element-text-color);
  background-color: var(--list-element-background-color-complement);
}

#main-user .folder-menu .btn {
  height: 25px;
  padding-left: 9px;
  padding-right: 9px;
}

.tree .active > *:first-child,
#main-user #usersfolders .active {
  background-color: var(--list-menu-background-color);
}
*/
