body {
	font-family: Raleway,"Open Sans",sans-serif;
}


// folder management

.tree,
.tree .nested {
    margin:0;
    padding:0;
}

.tree .treeNode{
    margin:0;
    padding:0 1em;
    line-height:2em;
    position:relative
}

.tree .treeNode,
.tree .nested{
    margin-left:0.2em;
    position:relative
}

.tree .nested .treeNode:last-child:before {
    background:#fff;
    height:auto;
    top:1em;
    bottom:0
}

.closeSign {
  cursor: pointer;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
  display: none;
}

.closeSign::before {
  content: "\25B6";
  display: inline-block;
  margin-right: 6px;
}

.openSign::before {
  content: "\25BC"; 
}

.tree .nested {
  display: none;
}

.tree .active {
  display: block;
}

.tree .toggledNode {
  display: inline-block;
}

.user .closeSign::before, .user .openSign::before {
  color: black;
}

.navbar-pages {
  text-align: center;
  padding: 0.5em 0em;
  color: var(--list-title-color);
  background-color: var(--list-element-background-color-complement);
}

.navbar-pages .active {
  cursor: none;
  font-style: italic;
  font-weight: bold;
  border: 0px solid #999;
  display: inline;
}

.pageindex {
  padding: 0.2em 0.5em;
  margin: 0 0.2em;
  cursor: pointer;
  border: 1px solid #999;
}

.pageindex0 {
  padding: 0.2em 0.5em;
}

/*-----------*/
.portfolio .closeSign::before, .portfolio .openSign::before,
#list-container .folder .row-label{
  color: var(--list-element-text-color);
}

#list-container .folders-nb {
  color: var(--list-title-color);
}

.folder-label {
  cursor: pointer;
}

#list-container .folders-nb,
#list-container .folder {
  background-color: var(--list-element-background-color);
}

#list-container #folders .folder {
  margin-top: 10px;
  padding: 7px;
  background-color: var(--list-element-background-color);
}

#list-container .folders-nb {
  color: var(--list-title-color);
}

.folder-content {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid var(--list-background-color);
}

#folder-portfolios .folder,
#list-container #folders .active {
  background-color: var(--list-menu-background-color);
}

#list-container .folder-row {
  margin-left: 1px;
  margin-right: 1px;
  color: var(--list-element-text-color);
}

#list-container .folder-row:hover {
  background-color: var(--list-element-background-color-complement);
}

#folder-portfolios-pages .folder-label {
  cursor: none;
  font-weight: normal;
}

.number_of_items {
  margin-left: 5px;
  background-color: var(--list-element-text-color);
  color: var(--list-element-background-color);
}

.number_of_folders {
  margin-left: 5px;
  color: var(--list-element-text-color);
  background-color: var(--list-element-background-color-complement);
}

#list-container .folder-menu .btn {
  height: 25px;
  padding-left: 9px;
  padding-right: 9px;
}

