/* ====================
	Batch Model
   ====================*

.batch {
	.row {
		margin-left:0px;
	}
	.model-node-default {
		padding: 10px;
	}
	.model-resource-default {
		margin-top:5px;
		min-height: 34px;
		padding: 10px;
	}
	.model-node-row {
		padding:5px;
	}
	.inside-full {
		padding:0px;
		height:100%;
		.form-control {
			border-radius:0px;
		}
	}
	.model-node-label {
		.buttons { 
			float:right;
		}
		.menus {
			float:right;
			margin-top:-10px;
		}
	}
	.model-resource-label {
		.buttons { 
			float:none;
		}
		.menus {
			float:right;
			margin-top:-10px;
		}
	}
	.node-model {
		margin-bottom:5px;
	}
	.collapsible {
		float:left;
		margin-right:5px;
	}
	span.chkbox-comments.xcreate-person,
	span.chkbox-comments.xdelete-person,
	span.chkbox-comments.xinactivate-person,
	span.chkbox-comments.xactivate-person,
	span.chkbox-comments.xcreate-tree,
	span.chkbox-comments.xcreate-project,
	span.chkbox-comments.xshare-tree,
	span.chkbox-comments.xunshare-tree,
	span.chkbox-comments.xselect-tree,
	span.chkbox-comments.xdelete-tree,
	span.chkbox-comments.xre-instantiate-tree,
	span.chkbox-comments.xset-owner,
	span.chkbox-comments.xupdate-tree-root,
	span.chkbox-comments.xcreate-portfoliogroup,
	span.chkbox-comments.xjoin-portfoliogroup,
	span.chkbox-comments.xleave-portfoliogroup,
	span.chkbox-comments.xshare-portfoliogroup,
	span.chkbox-comments.xunshare-portfoliogroup,
	span.chkbox-comments.xcreate-usergroup,
	span.chkbox-comments.xshare-usergroup,
	span.chkbox-comments.xunshare-usergroup,
	span.chkbox-comments.xjoin-usergroup,
	span.chkbox-comments.xleave-usergroup,
	span.chkbox-comments.xshare-groups,
	span.chkbox-comments.xupdate-node-resource,
	span.chkbox-comments.ximport-node,
	span.chkbox-comments.xdelete-node,
	span.chkbox-comments.xsubmitall-node,
	span.chkbox-comments.xmoveup-node,
	span.chkbox-comments.xmove-node,
	span.chkbox-comments.xupdate-metadata,
	span.chkbox-comments.xupdate-metadata-wad,
	span.chkbox-comments.xupdate-metadata-epm,
	span.chkbox-comments.xupdate-metadata-inline,
	span.chkbox-comments.xupdate-metadata-query,
	span.chkbox-comments.xupdate-metadata-menu,
	span.chkbox-comments.xupdate-rights,
	span.chkbox-comments.xupdate-field-byid,
	span.chkbox-comments.xdelete-node-byid,
	span.chkbox-comments.xreset-document-byid,
	span.chkbox-comments.xupdate-field,
	span.chkbox-comments.xupdate-textfield,
	span.chkbox-comments.xupdate-dashboard,
	span.chkbox-comments.xupdate-proxy,
	span.chkbox-comments.xupdate-calendar,
	span.chkbox-comments.xupdate-document,
	span.chkbox-comments.xupdate-variable,
	span.chkbox-comments.xupdate-proxy,
	span.chkbox-comments.xupdate-url2unit,
	span.chkbox-comments.xupdate-item,
//	span.chkbox-comments.xfor-each-line,
//	span.chkbox-comments.xfor-each-tree,
//	span.chkbox-comments.xfor-each-person,
	span.chkbox-comments.xactions,
	span.chkbox-comments.xif-then-else,
	span.chkbox-comments.xif-action,
	span.chkbox-comments.xthen-part,
	span.chkbox-comments.xelse-part {
			display: inline;
			float: right;
			margin-right: 20px;
	}
	.asmRoot > div[name=lbl-div] .chkbox-comments {
		display: none;
	}
	.comments,
	.comments .form-control,
	.comments .btn,
	.comments .cssinfo {
		font-style: italic;
		font-weight: normal;
		color: #aaaaaa;
	}
	.project-template {
		display:none;
	}
}


/* ============================= */
/*     COMPONENTS COLORS         */
/* ============================= */
.batch {
  --batch-person-color: #63e1ff;
  --batch-tree-color: lightGreen;
  --batch-portfoliogroup-color: #1cb01c;
  --batch-usergroup-color: #00a3cc;
  --batch-node-color: #e09b5b;
  --batch-metadata-color: yellow;
  --batch-resource-color: orange;
  --batch-uuid-color: #ff66ff;
  --batch-instruction-color: #990000;
}
.batch .create-person {
  margin-top: 7px;
  border: 1px solid var(--batch-person-color);
}
.batch .delete-person {
  margin-top: 7px;
  border: 1px solid var(--batch-person-color);
}
.batch .inactivate-person {
  margin-top: 7px;
  border: 1px solid var(--batch-person-color);
}
.batch .activate-person {
  margin-top: 7px;
  border: 1px solid var(--batch-person-color);
}
.batch .create-tree,
.batch .create-project {
  margin-top: 7px;
  border: 1px solid var(--batch-tree-color);
}
.batch .share-tree {
  margin-top: 7px;
  border: 1px solid var(--batch-tree-color);
}
.batch .unshare-tree {
  margin-top: 7px;
  border: 1px solid var(--batch-tree-color);
}
.batch .select-tree {
  margin-top: 7px;
  border: 1px solid var(--batch-tree-color);
}
.batch .delete-tree {
  margin-top: 7px;
  border: 1px solid var(--batch-tree-color);
}
.batch .re-instantiate-tree {
  margin-top: 7px;
  border: 1px solid var(--batch-tree-color);
}
.batch .set-owner {
  margin-top: 7px;
  border: 1px solid var(--batch-tree-color);
}
.batch .update-tree-root {
  margin-top: 7px;
  border: 1px solid var(--batch-tree-color);
}
.batch .create-portfoliogroup {
  margin-top: 7px;
  border: 1px solid var(--batch-portfoliogroup-color);
}
.batch .join-portfoliogroup {
  margin-top: 7px;
  border: 1px solid var(--batch-portfoliogroup-color);
}
.batch .leave-portfoliogroup {
  margin-top: 7px;
  border: 1px solid var(--batch-portfoliogroup-color);
}
.batch .share-portfoliogroup {
  margin-top: 7px;
  border: 1px solid var(--batch-portfoliogroup-color);
}
.batch .unshare-portfoliogroup {
  margin-top: 7px;
  border: 1px solid var(--batch-portfoliogroup-color);
}
.batch .create-usergroup {
  margin-top: 7px;
  border: 1px solid var(--batch-usergroup-color);
}
.batch .share-usergroup {
  margin-top: 7px;
  border: 1px solid var(--batch-usergroup-color);
}
.batch .unshare-usergroup {
  margin-top: 7px;
  border: 1px solid var(--batch-usergroup-color);
}
.batch .join-usergroup {
  margin-top: 7px;
  border: 1px solid var(--batch-usergroup-color);
}
.batch .leave-usergroup {
  margin-top: 7px;
  border: 1px solid var(--batch-usergroup-color);
}
.batch .share-groups {
  margin-top: 7px;
  border: 1px solid var(--batch-usergroup-color);
}
.batch .delete-node,
.batch .import-node,
.batch .update-node-resource,
.batch .moveup-node,
.batch .move-node,
.batch .submitall {
  margin-top: 7px;
  border: 1px solid var(--batch-node-color);
}
.batch .update-metadata {
  margin-top: 7px;
  border: 1px solid var(--batch-metadata-color);
}
.batch .update-metadata-wad {
  margin-top: 7px;
  border: 1px solid var(--batch-metadata-color);
}
.batch .update-metadata-epm {
  margin-top: 7px;
  border: 1px solid var(--batch-metadata-color);
}
.batch .update-metadata-inline {
  margin-top: 7px;
  border: 1px solid var(--batch-metadata-color);
}
.batch .update-metadata-query {
  margin-top: 7px;
  border: 1px solid var(--batch-metadata-color);
}
.batch .update-metadata-menu {
  margin-top: 7px;
  border: 1px solid var(--batch-metadata-color);
}
.batch .update-rights {
  margin-top: 7px;
  border: 1px solid var(--batch-metadata-color);
}
.batch .uuid-components {
  margin-top: 7px;
  border: 1px dashed var(--batch-uuid-color);
}
.batch .update-field-byid,
.batch .delete-node-byid,
.batch .reset-document-byid {
  margin-top: 7px;
  border: 1px solid var(--batch-uuid-color);
}
.batch .update-resource {
  margin-top: 7px;
  border: 1px dashed var(--batch-resource-color);
}
.batch .update-field {
  margin-top: 7px;
  border: 1px solid var(--batch-resource-color);
}
.batch .update-textfield {
  margin-top: 7px;
  border: 1px solid var(--batch-resource-color);
}
.batch .update-dashboard {
  margin-top: 7px;
  border: 1px solid var(--batch-resource-color);
}
.batch .update-proxy {
  margin-top: 7px;
  border: 1px solid var(--batch-resource-color);
}
.batch .update-calendar {
  margin-top: 7px;
  border: 1px solid var(--batch-resource-color);
}
.batch .update-document {
  margin-top: 7px;
  border: 1px solid var(--batch-resource-color);
}
.batch .update-variable {
  margin-top: 7px;
  border: 1px solid var(--batch-resource-color);
}
.batch .update-proxy {
  margin-top: 7px;
  border: 1px solid var(--batch-resource-color);
}
.batch .update-url2unit {
  margin-top: 7px;
  border: 1px solid var(--batch-resource-color);
}
.batch .update-item {
  margin-top: 7px;
  border: 1px solid var(--batch-resource-color);
}
.batch .refresh-tree-url2unit,
.batch .update-get-resource {
  margin-top: 7px;
  border: 1px solid var(--batch-resource-color);
}
.batch .for-each-line,
.batch .for-each-tree,
.batch .for-each-person,
.batch .actions {
  margin-top: 7px;
  border: 1px dashed var(--batch-instruction-color);
}
.batch .if-then-else {
  margin-top: 7px;
  border: 1px solid var(--batch-instruction-color);
}
.batch .if-action,
.batch .then-part,
.batch .else-part {
  margin-bottom: 7px;
  border: 1px dashed var(--batch-instruction-color);
}

/*# sourceMappingURL=batch.css.map */
