/* ====================
	Batch Model
   ====================*/
.batch .row {
  margin-left: 0px;
}
.batch .model-node-default {
  padding: 10px;
}
.batch .model-resource-default {
  margin-top: 5px;
  min-height: 34px;
  padding: 10px;
}
.batch .model-node-row {
  padding: 5px;
}
.batch .inside-full {
  padding: 0px;
  height: 100%;
}
.batch .inside-full .form-control {
  border-radius: 0px;
}
.batch .model-node-label .buttons {
  float: right;
}
.batch .model-node-label .menus {
  float: right;
  margin-top: -10px;
}
.batch .model-resource-label .buttons {
  float: none;
}
.batch .model-resource-label .menus {
  float: right;
  margin-top: -10px;
}
.batch .node-model {
  margin-bottom: 5px;
}
.batch .collapsible {
  float: left;
  margin-right: 5px;
}
.batch .dropdown-item[onclick*=sem-tag] {
  display: none;
}
.batch .for-each-node .dropdown-item[onclick*=sem-tag] {
  display: block;
}
.batch span.chkbox-comments.xcreate-person,
.batch span.chkbox-comments.xdelete-person,
.batch span.chkbox-comments.xupdate-person,
.batch span.chkbox-comments.xinactivate-person,
.batch span.chkbox-comments.xactivate-person,
.batch span.chkbox-comments.xcreate-tree,
.batch span.chkbox-comments.xcreate-project,
.batch span.chkbox-comments.xshare-tree,
.batch span.chkbox-comments.xunshare-tree,
.batch span.chkbox-comments.xselect-tree,
.batch span.chkbox-comments.xdelete-tree,
.batch span.chkbox-comments.xre-instantiate-tree,
.batch span.chkbox-comments.xset-owner,
.batch span.chkbox-comments.xupdate-tree-root,
.batch span.chkbox-comments.xcreate-portfoliogroup,
.batch span.chkbox-comments.xjoin-portfoliogroup,
.batch span.chkbox-comments.xleave-portfoliogroup,
.batch span.chkbox-comments.xshare-portfoliogroup,
.batch span.chkbox-comments.xunshare-portfoliogroup,
.batch span.chkbox-comments.xcreate-usergroup,
.batch span.chkbox-comments.xshare-usergroup,
.batch span.chkbox-comments.xunshare-usergroup,
.batch span.chkbox-comments.xjoin-usergroup,
.batch span.chkbox-comments.xleave-usergroup,
.batch span.chkbox-comments.xshare-groups,
.batch span.chkbox-comments.xupdate-node-resource,
.batch span.chkbox-comments.ximport-node,
.batch span.chkbox-comments.xdelete-node,
.batch span.chkbox-comments.xshow-node,
.batch span.chkbox-comments.xhide-node,
.batch span.chkbox-comments.xreload-node,
.batch span.chkbox-comments.xreload-unit,
.batch span.chkbox-comments.xsubmitall-node,
.batch span.chkbox-comments.xmoveup-node,
.batch span.chkbox-comments.xmove-node,
.batch span.chkbox-comments.xupdate-metadata,
.batch span.chkbox-comments.xupdate-metadata-wad,
.batch span.chkbox-comments.xupdate-metadata-epm,
.batch span.chkbox-comments.xupdate-metadata-inline,
.batch span.chkbox-comments.xupdate-metadata-query,
.batch span.chkbox-comments.xupdate-metadata-menu,
.batch span.chkbox-comments.xupdate-rights,
.batch span.chkbox-comments.xupdate-field-byid,
.batch span.chkbox-comments.xdelete-node-byid,
.batch span.chkbox-comments.xreset-document-byid,
.batch span.chkbox-comments.xdelete-tree-byid,
.batch span.chkbox-comments.xupdate-field,
.batch span.chkbox-comments.xupdate-textfield,
.batch span.chkbox-comments.xupdate-dashboard,
.batch span.chkbox-comments.xupdate-proxy,
.batch span.chkbox-comments.xupdate-calendar,
.batch span.chkbox-comments.xupdate-document,
.batch span.chkbox-comments.xupdate-variable,
.batch span.chkbox-comments.xupdate-proxy,
.batch span.chkbox-comments.xupdate-url2portfolio,
.batch span.chkbox-comments.xupdate-url2unit,
.batch span.chkbox-comments.xupdate-color,
.batch span.chkbox-comments.xupdate-get-resource,
.batch span.chkbox-comments.xupdate-item,
.batch span.chkbox-comments.xrefresh-tree-url2unit,
.batch span.chkbox-comments.xrefresh-tree-url2portfolio,
.batch span.chkbox-comments.xfor-each-line,
.batch span.chkbox-comments.xfor-each-tree,
.batch span.chkbox-comments.xfor-each-person,
.batch span.chkbox-comments.xfor-each-node,
.batch span.chkbox-comments.xactions,
.batch span.chkbox-comments.xjsfunction,
.batch span.chkbox-comments.xsubmitall,
.batch span.chkbox-comments.xsend-email,
.batch span.chkbox-comments.xvariable,
.batch span.chkbox-comments.xbatch-variable,
.batch span.chkbox-comments.xbatch-value-variable,
.batch span.chkbox-comments.xclear-log,
.batch span.chkbox-comments.xhide-log,
.batch span.chkbox-comments.xwrite-log,
.batch span.chkbox-comments.xif-then-else,
.batch span.chkbox-comments.xif-action,
.batch span.chkbox-comments.xthen-part,
.batch span.chkbox-comments.xelse-part {
  display: inline;
  float: right;
  margin-right: 20px;
}
.batch .asmRoot > div[name=lbl-div] .chkbox-comments {
  display: none;
}
.batch .comments,
.batch .comments .form-control,
.batch .comments .btn,
.batch .comments .cssinfo {
  font-style: italic;
  font-weight: normal;
  color: #aaaaaa;
}
.batch .project-template {
  display: none;
}

/* ============================= */
/*     COMPONENTS COLORS         */
/* ============================= */
.batch {
  --batch-person-color: #63e1ff;
  --batch-tree-color: lightGreen;
  --batch-portfoliogroup-color: #1cb01c;
  --batch-usergroup-color: #00a3cc;
  --batch-node-color: #e09b5b;
  --batch-metadata-color: yellow;
  --batch-resource-color: orange;
  --batch-uuid-color: #ff66ff;
  --batch-instruction-color: #990000;
  --batch-utilities-color: #CACACA;
  --batch-log-color: #196F3D;
}
.batch .inactivate-person,
.batch .create-person,
.batch .activate-person,
.batch .update-person,
.batch .delete-person {
  margin-top: 7px;
  border: 1px solid var(--batch-person-color);
}
.batch .create-tree,
.batch .share-tree,
.batch .unshare-tree,
.batch .select-tree,
.batch .delete-tree,
.batch .re-instantiate-tree,
.batch .set-owner,
.batch .create-project {
  margin-top: 7px;
  border: 1px solid var(--batch-tree-color);
}
.batch .create-portfoliogroup,
.batch .join-portfoliogroup,
.batch .leave-portfoliogroup,
.batch .share-portfoliogroup,
.batch .unshare-portfoliogroup {
  margin-top: 7px;
  border: 1px solid var(--batch-portfoliogroup-color);
}
.batch .create-usergroup,
.batch .share-usergroup,
.batch .unshare-usergroup,
.batch .join-usergroup,
.batch .leave-usergroup,
.batch .share-groups {
  margin-top: 7px;
  border: 1px solid var(--batch-usergroup-color);
}
.batch .delete-node,
.batch .import-node,
.batch .update-node-resource,
.batch .moveup-node,
.batch .move-node,
.batch .show-node,
.batch .hide-node,
.batch .reload-node,
.batch .reload-unit,
.batch .submitall {
  margin-top: 7px;
  border: 1px solid var(--batch-node-color);
}
.batch .update-metadata,
.batch .update-metadata-wad,
.batch .update-metadata-epm,
.batch .update-metadata-inline,
.batch .update-metadata-query,
.batch .update-metadata-menu,
.batch .update-rights {
  margin-top: 7px;
  border: 1px solid var(--batch-metadata-color);
}
.batch .uuid-components {
  margin-top: 7px;
  border: 1px dashed var(--batch-uuid-color);
}
.batch .delete-tree-byid,
.batch .update-field-byid,
.batch .delete-node-byid,
.batch .reset-document-byid {
  margin-top: 7px;
  border: 1px solid var(--batch-uuid-color);
}
.batch .update-resource,
.batch .update-field,
.batch .update-textfield,
.batch .update-dashboard,
.batch .update-proxy,
.batch .update-calendar,
.batch .update-color,
.batch .update-document,
.batch .update-variable,
.batch .update-proxy,
.batch .update-url2unit,
.batch .update-url2portfolio,
.batch .update-item,
.batch .refresh-tree-url2unit,
.batch .refresh-tree-url2portfolio,
.batch .update-get-resource {
  margin-top: 7px;
  border: 1px solid var(--batch-resource-color);
}
.batch .for-each-line,
.batch .for-each-tree,
.batch .for-each-person,
.batch .for-each-node,
.batch .actions {
  margin-top: 7px;
  border: 1px dashed var(--batch-instruction-color);
}
.batch .if-then-else {
  margin-top: 7px;
  border: 1px solid var(--batch-instruction-color);
}
.batch .if-action,
.batch .then-part,
.batch .else-part {
  margin-bottom: 7px;
  border: 1px dashed var(--batch-instruction-color);
}

.jsfunction,
.send-email,
.batch-value-variable,
.batch-variable {
  margin-top: 7px;
  border: 1px solid var(--batch-utilities-color);
}

.clear-log,
.write-log,
.hide-log {
  margin-top: 7px;
  border: 1px solid var(--batch-log-color);
}

/*# sourceMappingURL=batch.css.map */
