
/* --- Problem with button ---*/

.menu-xs{
	height:22px;
}

.menu-xs .btn-text{
	margin-top:0px;
}

.btn-xs [class*="icon-"] {
	margin-top:3px;
	margin-bottom:3px;
}
.btn-xs .icon-font {
	margin-top:0px;
	margin-bottom:0px;
}

a.btn {
	font-weight:normal;
}
a.btn-xs {
	min-height:24px;
	vertical-align:middle;
}
.btn-text {
	margin-top:2px;
	vertical-align:middle;
}

/* --------------------------*/
.versions {
	width:300px;
}

/* --------------------------*/
#progress{
	width:100%;
}
.bar {
	height: 18px;
	background: green;
}
#file-loader {
    border: 0 none;
    height: 80px;
    padding: 0;
}

hr {
	margin-bottom: 7px;
	margin-top: 5px;
}

.accordion-inner .title {
	margin-left:7px;
}
.accordion-inner .accordion-inner .title {
	margin-left:14px;
}

.asmStructure,
.asmUnit,
.asmContext {
	margin-top:5px;
}
.asmUnitStructure {
	margin-top:10px;
}

.title {
	padding:2px;
}
.asmRoot .title {
	font-size: 24px;
	font-weight: bold;
	line-height: 30px;
}


.asmStructure .title {
	font-size: 24px;
	font-weight: bold;
	line-height: 30px;
}

.asmStructure .asmStructure .title,
.asmRoot .asmStructure .title {
	font-size: 12px;
	font-weight: normal;
	line-height: 20px;
}

.asmUnit .title {
	font-size: 24px;
	font-weight: bold;
	line-height: 30px;
}

.asmStructure .asmUnit .title,
.asmRoot .asmUnit .title {
	font-size: 12px;
	font-weight: normal;
	line-height: 20px;
}

.asmUnitStructure .title {
	font-size: 20px;
	font-weight: bold;
	line-height: 20px;
}

.asmUnitStructure .asmUnitStructure .title {
	font-size: 16px;
	font-weight: bold;
	line-height: 20px;
}

.asmUnitStructure .asmUnitStructure .asmUnitStructure .title {
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
}

.asmUnitStructure .asmUnitStructure .asmUnitStructure .asmUnitStructure .title {
	font-size: 12px;
	font-weight: bold;
	line-height: 20px;
}

.asmUnitStructure .asmUnitStructure .asmUnitStructure .asmUnitStructure .asmContext .title,
.asmUnitStructure .asmUnitStructure .asmUnitStructure .asmContext .title,
.asmUnitStructure .asmUnitStructure .asmContext .title,
.asmUnitStructure .asmContext .title,
.asmContext .title {
	font-size: 12px;
	font-weight: normal;
	line-height: 16px;
}

.col-md-2 .title,
.col-md-7 .title{
	padding-left:3px;
	padding-right:2px;
	padding-bottom:2px;
}

.col-md-2 {
	padding-top:2px;
}

.text-editor {
	background-color: white;
	border: 1px solid rgb(204, 204, 204); 
	padding: 4px; 
	box-sizing: content-box; 
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px; 
	border-top-left-radius: 3px;
}
/* ---------------- resource Comments --------------------- */
.author-date {
		font-size:11px;
		font-style:italic;
}

/* ---------------- list portfolios --------------------- */

.item td{
	padding-left:5px;
}

.item:hover td{
	background-color:lightgrey;
}

/* -------------------------------------------------- */
/* --------------old WAD css    --------------------- */
/* -------------------------------------------------- */



/* -------------------------------------------------- */
/* Container */

body {
	font-size: 12px;
}

#content .texte{
	text-align:justify;
}

/* -------------------------------------------------- */
/* Container */

#container {
	padding-top: 80px;
}

textarea {
	width:100%;
	height:200px;
}

/* -------------------------------------------------- */
/* Main Nav */

.sidebar-title {
	font-size: 18px;
	font-weight: bold;
	line-height: 22px;
	margin-bottom: 15px;
}
#main-nav .title a {
	color: #333;
}

#main-nav div.divider {
	background-color: #e5e5e5;
	border-bottom: 1px solid #fff;
	height: 1px;
	margin-bottom: 10px;
	width: 100%;
}

#main-nav .nav-list {
	padding: 0;
}

#main-nav .nav-list .branch-top > a {
	background-image: url('images/main-nav-arrow-closed.png');
	background-position: 0 9px;
	background-repeat: no-repeat;
	font-weight: bold;
	margin-left: 0;
	margin-right: 0;
	padding-right: 10px;
}
#main-nav .nav-list .selected > a {
	background-image: url('images/main-nav-arrow-opened.png');
}

#main-nav .nav-list ul.nested li {
	margin-bottom: 5px;
}
#main-nav .nav-list ul.nested {
	display: none;
	padding-top: 11px;
}



#sidebar li.selected ul.nested {
	display: block;
}
#sidebar li.selected ul.nested li.selected a {
	background-image: none;
	color: #000;
}
#sidebar li.nested {
	text-indent: 15px;
}
#sidebar .number {
	color: #aaa;
	float: right;
	font-size: 11px;
	font-weight: normal;
}


.activeTreeColor, .parentTreeColor {
	color:#01A9DB;
}

.noTreeColor {
	color:inherit;
}

#wait-window,
#saved-window {
	width:100px;
	margin-left:-50px;
	background-color:lightgrey;
	position:fixed;
	top:25%;
	left:50%;
}

#info-window {
	width:200px;
	margin-left:-100px;
/*	background-color:lightgrey;*/
	position:fixed;
	top:60px;
	left:50%;
}



/* -------------------------------------------------- */
/* Content */


hr {
	margin-bottom: 7px;
	margin-top: 5px;
}



#content h1,
#content h2,
#content h3,
#content h4,
#content h5,
#content h6 {
	margin-top: 0;
}

#content hr.spacer {
	margin-bottom: 66px;
}



#content .icon-move {
	cursor: move;
}

#content .comment {
	font-size: 12px;
	padding-bottom: 22px;
	padding-left: 40px;
}

#content h2 .popover-inner {
	font-size: 13px;
	font-weight: normal;
	line-height: 16px;
}

/* -------------------------------------------------- */
/* ----------------- ADMIN -------------------------- */
/* -------------------------------------------------- */

.portfolio, .user , .account ,.group {
	min-height:30px;
	border-top: 1px solid rgb(227, 227, 227);
	margin-top: 0px;
	padding-top: 8px;
}

#metadata .control-group {
	margin-bottom:3px;
}
/* -------------------------------------------------- */
/* -------------------------------------------------- */
/* -------------------------------------------------- */


/* ====================== 
				ARBRE
    ====================== */

.children {
	margin-left:20px;
}


a:hover {
	text-decoration: none;
	color:#01A9DB;
}

/* ====================== */
/*        LOGIN          */
/* ====================== */



.login {
	margin-top:200px;
	text-align:center;
	width:100%;
}


.login span {
	text-align:right;
	display: inline-block;
	width:100px;
	margin-right:10px;
}
.login div {
	margin-bottom:15px;
}

.login .newpwd {
	font-size:90%;
	width:320px;
	text-align:justify;
}

.login .check {
	vertical-align:middle;
	height:50px;
}

.selectUserRole {
	background-color: #DDDDDD;
}
.selectRole {
	background-color:white;
	border: 1px solid gray;
	z-index:20;
	margin-left:40%;
	margin-right:40%;
	margin-top:150px;
	padding:10px;
	width:300px;
}

.selectRole td{
	padding-top:10px;
	padding-right:5px;
}

.wad{
	font-size:800%;
	width:100%;
	text-align:center;
	font-weight:bold;
	color:#BBBBBB;
}

/* ====================== */
/*      SIDEBAR            */
/* ====================== */

.selected,
.selected a {
	font-weight:bold;
	color:#848484;
}

.panel-default > .panel-heading {
	background-color:transparent;
}

.panel-default,
.panel-default > .panel-heading {
	border-color:transparent;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0);
	padding-left:0px;
	padding-top:0px;
	padding-bottom:0px;
}

.panel-body{
	padding-top:0px;
	padding-bottom:0px;
}

.well{
	background-color:transparent;
}
.link-unit{
	padding-top:4px;
	padding-bottom:5px;
	padding-left:1px;
}

a.active:over{
	color:black;
}


/* ====================== */
/*      PAGE            */
/* ====================== */

/*
.asmRoot,
.asmStructure,
.asmUnit {
	display:none;
	margin-top:15px;
}
*/
.pageCode {
	font-size:12px;
	font-weight:normal;
	margin-left:20px;
}






.asmRoot .node,
.asmUnit .node,
.asmStructure .node {
	font-size:110%;
	padding-left:10px;
	padding-top:10px;
	padding-bottom:10px;
	border-top:1px solid #ddd;
}

.novisible > .row{
	display:none;
}
.novisible  div .section{
	display:block;
}




/* ====================== */
/*      EDITOR            */
/* ====================== */

.edit-shared {
	width:150px;
	padding-left:4px;
}

.edit-field {
	display:inline-block;
	width:150px;
	padding-left:3px;
}

.editwad-field {
	display:inline-block;
	width:180px;
	padding-left:3px;
}

.editnode-field {
	display:inline-block;
	width:80px;
	padding-left:3px;
}

.file-loader{
  border:0px;
  padding:0px;
  height:80px;
 }

input {
/*	width:320px; */
}

/* ====================
	TextRaw
   ====================*/
.rawtext blockquote {
	margin-bottom:0px;
}

/* ====================
	Annotation
   ====================*/
.annotation-content {
	margin-top:5px;
	font-size:12px;
	font-weight:normal;
	line-height:14px;
}

.annotation-content .writer {
	font-style:italic;

	}


/* ====================
	divers
   ====================*/
.metainfo {
	color: #808080;
	font-size: 10px;
	line-height: 12px;
	visibility: hidden;
}

.translate label span.lang {
	width:40px;
}
.comments {
	font-style:italic;
	font-size:11px;
}

#wait-window {
	padding:20px;
	background-color:#F0F0F0;
	position:fixed;
	top:20%;
	left:48%;
	z-index:3000;
	display:none;
	text-align:center;
	border: 1px solid black;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px; 
	border-top-left-radius: 3px;
}

table.tablesorter thead tr th, table.tablesorter tfoot tr th
{
	min-width:150px;
}

table.tablesorter th.del-checkbox {
	min-width:20px;
	width:20px;
}

table.tablesorter th.restore {
	min-width:35px;
	width:35px;
}


#th_menus {
	min-width:35px;
}

/* ====================
	partage
   ====================*/

.partage td {
	padding:3px;
}

.ajout-mani  {
}

.ajout-mani hr.asmUnitStructure {
	margin-top:20px;
	border-width:5px;
}

.free-fieldname{
	font-weight:bold;
}

/*
.rowContext {
	border-top:1px solid #C0C0C0;
	margin-top:5px;
	padding-top: 5px;
}
*/
/* ====================
	Badges
   ====================*/

.badge-warning {
  background-color: #f89406;
}
.badge-success {
  background-color: #468847;
}
.badge-danger {
  background-color: #b94a48;
}

/* ====================
	Batch Model
   ====================*/

#batchmodel_list_table td
{
	padding:5px;
	border-top:1px solid #C0C0C0;
	border-bottom:1px solid #C0C0C0;
}

/* ====================
	Role Rights
   ====================*/

#rights {
	margin-left:180px;
	border: 1px solid lightgrey;
}

#rights td{
	padding:5px;
	border: 1px solid lightgrey;
}

/* ====================
	Report
   ====================*/
.report .asmUnitStructure{
	padding:10px;
}

.report .for-each-person{
	border:1px solid lightgrey;
}

.report .for-each-line{
	border:1px solid lightgrey;
}

.report .for-each-portfolio{
	border:1px solid lightgrey ;
}

.report .for-each-node{
	border:1px solid lightgrey ;
}


.report .model-table {
	border:2px solid Navy;
}

.report .model-row {
	border:2px solid SeaGreen;
}

.report .model-cell {
	border:2px solid Crimson;
}

.report .node_resource,
.report .text,
.report .aggregate{
	border:1px dashed lightgrey;
	margin-bottom:5px;
}
.report .select{
	padding-left:0px;
	border-left:0px solid lightgrey;
}

.report .select select,
.report .select input{
	margin-bottom:0px;
}

.report .model_button {
	float:right
}

.createreport table {
	margin-bottom:5px;
}

.createreport td {
	padding:5px;
	border:1px solid lightgrey;
}

.aggregatetype select,
.nodetype select,
.todisplay select {
	width:150px;
}

.aggregationselect input,
.ref input {
	width:130px;
}

.asmNop .model_row {
	display:none;
}

.asmNop .row {
	margin-top:-20px;;
	margin-left: -30px;;
}
/* ====================
	Batch
   ====================*/

.batch .asmUnitStructure{
	padding:10px;
}

.batch .for-each-line{
	border:1px solid lightgrey;
}

.batch .create-person{
	border:1px solid Navy ;
}

.batch .text,
.batch .code,
.batch .person,
.batch .role,
.batch .tree-template,
.batch .tree-code,
.batch .tree-label {
	margin-top:4px;
	padding-top:2px;
	padding-bottom:0px;
	border-top:1px solid lightgrey;
}


.batch .create-tree{
	border:1px solid SeaGreen ;
}

.batch .share-tree{
	border:1px solid lightGreen ;
}

.batch .select-tree{
	border:1px solid GreenYellow ;
}

.batch .delete-tree{
	border:1px solid Aquamarine ;
}


.batch .update-field {
	border:1px solid Crimson;
}

.batch .update-metadatawad {
	border:1px solid #FE642E;
}

.batch .update-dashboard {
	border:1px solid #F7BE81;
}

.batch .update-proxy{
	border:1px solid Gold;
}

.batch .model_button {
	float:right
}

.batch input {
	margin-bottom:0px;
}



/* ====================
	Translate
   ====================*/
.lang {
	padding:5px;
	background-color:lightgrey;
}


/* ====================
	Free
   ====================*/
.free-toolbar {
	visibility:hidden;
	z-index:10;
	position:absolute;
	top:-15px;
}

.movable {
	cursor:move;
}

/* ====================
	DisplayType : header
   ====================*/
#main-header{
	background-color:white;
}

#header {
	height:150px;
    overflow: auto;
}

.header-container {
	padding-top:250px;

}

.header-menu {
	border-top:1px solid lightgrey;
}
	
/* ====================
	Document/Image\URL
   ====================*/
.free-context {
	height:100%;
}


.resource-Document,
.resource-URL {
	border:1px lightgrey solid;
}

.resource-TextField,
.resource-Document,
.resource-URL {
	min-width:100px;
	min-height:100px;
	width:100%;
	height:100%;
}

.resource-Video:hover,
.resource-Field:hover,
.resource-TextField:hover,
.resource-Image:hover,
.resource-Document:hover,
.resource-URL:hover {
	opacity:0.5;
}

.resource-Document a,
.resource-URL a{
	color : inherit;
}


.resource-Image {
	display:inline-block;
	min-height:25px;
	min-width:50px;
}

.doc-up,
.url-up {
	padding-top:5px;
	height:60%;
	background-color:white;
	width:100%;
}

.doc-bottom,
.url-bottom {
	height:40%;
	width:100%;
	text-align:center;
	border-top:1px lightgrey solid;
	font-size:10pt;
  display: table;
}

.doc-bottom span, .url-bottom span {
  display: table-cell;
  vertical-align: middle;
}

/* ====================
	Select with color
   ====================*/

select.BDG0, option[value="BDG0"] {color: #fff; background: gray;}
select.BDG1, option[value="BDG1"] {color: #fff; background: red;}
select.BDG2, option[value="BDG2"] { color: #fff; background: #FF6600; }
select.BDG3, option[value="BDG3"] { color: black; background: #fff; }
select.BDG4, option[value="BDG4"] { color: black; background: #CCFF99; }
select.BDG5, option[value="BDG5"] { color: #fff; background: #66CC00; }

.BDG0 { color: black; background: lightgrey; padding:2px; border:1px gray solid;width:100px;border-radius:4px;}
.BDG1 { color: black; background: red; padding:2px; border:1px gray solid;width:100px;border-radius:4px;}
.BDG2 { color: black; background: #FF6600; padding:2px; border:1px gray solid;width:100px;border-radius:4px;}
.BDG3 { color: black; background: ##fff; padding:2px; border:1px gray solid;width:100px;border-radius:4px;}
.BDG4 { color: black; background: #CCFF99; padding:2px; border:1px gray solid;width:100px;border-radius:4px;}
.BDG5 { color: black; background: #66CC00; padding:2px; border:1px gray solid;width:100px;border-radius:4px;}

select.Y0, option[value="Y0"] {color: #fff; background: gray;}
select.Y1, option[value="Y1"] {color: #fff; background: red;}
select.Y2, option[value="Y2"] {color: #fff; background: green;}
.Y0 {color: #fff; background: gray;}
.Y1 {color: #fff; background: red;}
.Y2 {color: #fff; background: green;}

/* ====================
	Other
   ====================*/

.rounded-border {
	margin-top:10px;
	margin-bottom:10px;
	border-radius:4px;
	padding-left:5px;
	border: 1px solid lightGrey;
}

.name_SendEmail {
	font-weight:bold;
}

/* -- colorpicker --*/
.evo-colorind,
.evo-colorind-ff {
	height:14px;
	width:14px;
	margin-top:7px;
	float:left;
}

.start {
	margin-top:10px;
	margin-right:10px;
	border-radius:4px;
	padding:10px;
	background-image:linear-gradient(#FFF, #EEE);
	border: 1px solid lightGrey;
	box-shadow: 3px 3px 3px #CCC;
}
