#main-container {
	padding-top:60px;
}

/* -- boutons du navbar --*/
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:focus, 
.navbar-default .navbar-nav > .open > a:hover {
	background-color: #ECECEC;
	border-color: #E7E7E7;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .open > a {
	border-color: #E7E7E7;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.125) inset;
}

#form-send {
	background-color: #E7E7E7;
	border-color: #D0D0D0;
/*	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.125) inset; */
	
}

#form-send:hover {
	background-color: #ECECEC;	
}
/* ----------------------- */

.form-signin {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	max-width: 300px;
	padding: 19px 29px 29px;
/*	margin: 80px auto 20px; */
	margin-top: 30px;
	margin-left: 40px;
	background-color: rgb(245, 245, 245);
	border: 1px solid #e5e5e5;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading {
  margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

.form-newpassword,
.form-newaccount {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	max-width: 300px;
	padding-top: 19px ;
	padding-bottom: 19px ;
	padding-left: 29px ;
	padding-right: 29px ;
/*	margin: 30px auto 20px; */
	margin-top: 20px;
	margin-left: 40px;
	background-color: rgb(245, 245, 245); 
	border: 1px solid #e5e5e5;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.form-newpassword input[type="text"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

.form-newpassword button {
	background-color: #e1e1e1;
	border: 1px solid #e0e0e0;
}

#form-send {
	margin-bottom:7px;
}

h2 {
	color:#01A9DB;
}

.ss-titre {
	text-align:left;
	position:relative;
	left:50px;
	font-size:150%;
	margin-top:20px;
	width:300px;
}

#welcome3 {
}
