/* ====================
	Batch Model
   ====================*/

.batch {
	.row {
		margin-left:0px;
	}
	.model-node-default {
		padding: 10px;
	}
	.model-resource-default {
		margin-top:5px;
		min-height: 34px;
		padding: 10px;
	}
	.model-node-row {
		padding:5px;
	}
	.inside-full {
		padding:0px;
		height:100%;
		.form-control {
			border-radius:0px;
		}
	}
	.model-node-label {
		.buttons { 
			float:right;
		}
		.menus {
			float:right;
			margin-top:-10px;
		}
	}
	.model-resource-label {
		.buttons { 
			float:none;
		}
		.menus {
			float:right;
			margin-top:-10px;
		}
	}
	.node-model {
		margin-bottom:5px;
	}
	.collapsible {
		float:left;
		margin-right:5px;
	}
	span.chkbox-comments.xcreate-person,
	span.chkbox-comments.xdelete-person,
	span.chkbox-comments.xinactivate-person,
	span.chkbox-comments.xactivate-person,
	span.chkbox-comments.xcreate-tree,
	span.chkbox-comments.xcreate-project,
	span.chkbox-comments.xshare-tree,
	span.chkbox-comments.xunshare-tree,
	span.chkbox-comments.xselect-tree,
	span.chkbox-comments.xdelete-tree,
	span.chkbox-comments.xre-instantiate-tree,
	span.chkbox-comments.xset-owner,
	span.chkbox-comments.xupdate-tree-root,
	span.chkbox-comments.xcreate-portfoliogroup,
	span.chkbox-comments.xjoin-portfoliogroup,
	span.chkbox-comments.xleave-portfoliogroup,
	span.chkbox-comments.xshare-portfoliogroup,
	span.chkbox-comments.xunshare-portfoliogroup,
	span.chkbox-comments.xcreate-usergroup,
	span.chkbox-comments.xshare-usergroup,
	span.chkbox-comments.xunshare-usergroup,
	span.chkbox-comments.xjoin-usergroup,
	span.chkbox-comments.xleave-usergroup,
	span.chkbox-comments.xshare-groups,
	span.chkbox-comments.xupdate-node-resource,
	span.chkbox-comments.ximport-node,
	span.chkbox-comments.xdelete-node,
	span.chkbox-comments.xmoveup-node,
	span.chkbox-comments.xupdate-metadata,
	span.chkbox-comments.xupdate-metadata-wad,
	span.chkbox-comments.xupdate-metadata-inline,
	span.chkbox-comments.xupdate-metadata-query,
	span.chkbox-comments.xupdate-metadata-menu,
	span.chkbox-comments.xupdate-rights,
	span.chkbox-comments.xuuid-components,
	span.chkbox-comments.xupdate-field-byid,
	span.chkbox-comments.xdelete-node-byid,
	span.chkbox-comments.xreset-document-byid,
	span.chkbox-comments.xupdate-resource,
	span.chkbox-comments.xupdate-field,
	span.chkbox-comments.xupdate-textfield,
	span.chkbox-comments.xupdate-dashboard,
	span.chkbox-comments.xupdate-proxy,
	span.chkbox-comments.xupdate-calendar,
	span.chkbox-comments.xupdate-document,
	span.chkbox-comments.xupdate-proxy,
	span.chkbox-comments.xupdate-url2unit,
	span.chkbox-comments.xupdate-item,
	span.chkbox-comments.xfor-each-line,
	span.chkbox-comments.xfor-each-tree,
	span.chkbox-comments.xfor-each-person,
	span.chkbox-comments.xactions,
	span.chkbox-comments.xif-then-else,
	span.chkbox-comments.xif-action,
	span.chkbox-comments.xthen-part,
	span.chkbox-comments.xelse-part {
			display: inline;
			float: right;
			margin-right: 20px;
	}
	.asmRoot > div[name=lbl-div] .chkbox-comments {
		display: none;
	}
	.comments,
	.comments .form-control,
	.comments .btn,
	.comments .cssinfo {
		font-style: italic;
		font-weight: normal;
		color: #aaaaaa;
	}
	.project-template {
		display:none;
	}
}


/* ============================= */
/*     COMPONENTS COLORS         */
/* ============================= */

.batch {
	--batch-person-color : #63e1ff;
	--batch-tree-color : lightGreen;
	--batch-portfoliogroup-color : #1cb01c;
	--batch-usergroup-color : #00a3cc;
	--batch-node-color : #e09b5b;
	--batch-metadata-color : yellow;
	--batch-resource-color : orange;
	--batch-uuid-color : #ff66ff;
	--batch-instruction-color : #990000;

	//----- PERSON ---
	.create-person {
		margin-top:7px;
		border:1px solid var(--batch-person-color) ;
	}
	.delete-person {
		margin-top:7px;
		border:1px solid var(--batch-person-color);
	}
	.inactivate-person {
		margin-top:7px;
		border:1px solid var(--batch-person-color);
	}
	.activate-person {
		margin-top:7px;
		border:1px solid var(--batch-person-color);
	}

	//----- TREE ---
	.create-tree,
	.create-project {
		margin-top:7px;
		border:1px solid var(--batch-tree-color);
	}
	
	.share-tree{
		margin-top:7px;
		border:1px solid var(--batch-tree-color);
	}
	
	.unshare-tree{
		margin-top:7px;
		border:1px solid var(--batch-tree-color);
	}
	
	.select-tree{
		margin-top:7px;
		border:1px solid var(--batch-tree-color);
	}
	
	.delete-tree{
		margin-top:7px;
		border:1px solid var(--batch-tree-color);
	}
	.re-instantiate-tree{
		margin-top:7px;
		border:1px solid var(--batch-tree-color);
	}
	.set-owner {
		margin-top:7px;
		border:1px solid var(--batch-tree-color);
	}
	.update-tree-root {
		margin-top:7px;
		border:1px solid var(--batch-tree-color);
	}

	//----- PORTFOLIOGROUP ---
	.create-portfoliogroup{
		margin-top:7px;
		border:1px solid var(--batch-portfoliogroup-color);
	}
	
	.join-portfoliogroup{
		margin-top:7px;
		border:1px solid var(--batch-portfoliogroup-color);
	}
	
	.leave-portfoliogroup{
		margin-top:7px;
		border:1px solid var(--batch-portfoliogroup-color);
	}
	
	.share-portfoliogroup{
		margin-top:7px;
		border:1px solid var(--batch-portfoliogroup-color);
	}
	
	.unshare-portfoliogroup{
		margin-top:7px;
		border:1px solid var(--batch-portfoliogroup-color);
	}

	//----- USERGROUP ---	
	.create-usergroup{
		margin-top:7px;
		border:1px solid var(--batch-usergroup-color);
	}
	.share-usergroup{
		margin-top:7px;
		border:1px solid var(--batch-usergroup-color);
	}
	.unshare-usergroup{
		margin-top:7px;
		border:1px solid var(--batch-usergroup-color);
	}
	.join-usergroup {
		margin-top:7px;
		border:1px solid var(--batch-usergroup-color);
	}
	
	.leave-usergroup {
		margin-top:7px;
		border:1px solid var(--batch-usergroup-color);
	}
	.share-groups{
		margin-top:7px;
		border:1px solid var(--batch-usergroup-color);
	}

	//----- NODE ---	
	.update-node-resource {
		margin-top:7px;
		border:1px solid var(--batch-node-color);
	}
	.import-node {
		margin-top:7px;
		border:1px solid var(--batch-node-color);
	}
	.delete-node {
		margin-top:7px;
		border:1px solid var(--batch-node-color);
	}
	.moveup-node {
		margin-top:7px;
		border:1px solid var(--batch-node-color);
	}

	//----- METADATA ---
	.update-metadata {
		margin-top:7px;
		border:1px solid var(--batch-metadata-color);
	}
	.update-metadata-wad {
		margin-top:7px;
		border:1px solid var(--batch-metadata-color);
	}
	.update-metadata-inline {
		margin-top:7px;
		border:1px solid var(--batch-metadata-color);
	}
	.update-metadata-query {
		margin-top:7px;
		border:1px solid var(--batch-metadata-color);
	}
	.update-metadata-menu {
		margin-top:7px;
		border:1px solid var(--batch-metadata-color);
	}
	.update-rights {
		margin-top:7px;
		border:1px solid var(--batch-metadata-color);
	}

	//----- UUID ---
	.uuid-components {
		margin-top:7px;
		border:1px dashed  var(--batch-uuid-color);
	}
	.update-field-byid,
	.delete-node-byid,
	.reset-document-byid {
		margin-top:7px;
		border:1px solid  var(--batch-uuid-color);
	}

	//----- RESOURCE ---
	.update-resource {
		margin-top:7px;
		border:1px dashed var(--batch-resource-color);
	}
	.update-field {
		margin-top:7px;
		border:1px solid var(--batch-resource-color);
	}
	.update-textfield {
		margin-top:7px;
		border:1px solid var(--batch-resource-color);
	}
	.update-dashboard {
		margin-top:7px;
		border:1px solid var(--batch-resource-color);
	}
	.update-proxy{
		margin-top:7px;
		border:1px solid var(--batch-resource-color);
	}
	.update-calendar{
		margin-top:7px;
		border:1px solid var(--batch-resource-color);
	}
	.update-document{
		margin-top:7px;
		border:1px solid var(--batch-resource-color);
	}
	.update-proxy{
		margin-top:7px;
		border:1px solid var(--batch-resource-color);
	}
	.update-url2unit{
		margin-top:7px;
		border:1px solid var(--batch-resource-color);
	}
	.update-item{
		margin-top:7px;
		border:1px solid var(--batch-resource-color);
	}

	//----- INSTRUCTION ---
	.for-each-line,
	.for-each-tree,
	.for-each-person,
	.actions {
		margin-top:7px;
		border:1px dashed var(--batch-instruction-color);
	}
	.if-then-else {
		margin-top:7px;
		border:1px solid var(--batch-instruction-color);
	}
	.if-action,
	.then-part,
	.else-part {
		margin-bottom:7px;
		border:1px dashed var(--batch-instruction-color);
	}
}


